* {
	margin:0px;
	padding:0px;
}
 body { 
  background: url('img/bg.jpg') no-repeat;
  background-size: cover;
}
  @font-face {
    font-family: 'helvetica_neueregular';
    src: url('helveticaneue-thin-webfont.woff2') format('woff2'),
         url('helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'FontAwesome';
}
/*HEADER*/
.header {
	height: 35px;
    background: url('img/image.jpg') repeat-x;
    font-family: 'helvetica_neueregular';
   }
.menu {
	float: right;
	position: relative;
	overflow: hidden;
	border-right: 2px solid #56a2dc;
}
.menu li {
	list-style: none;
	display: inline-block;
	padding: 8px;
}
.menu a {
	text-decoration: none; 
	font-size:16px;
	line-height: 10px;
	color: #54a8e1;
	padding: 10px;

}
.menu a:hover {
	background: #4eabda;
	color: #fff;
}

.nav { 
	margin-left: 20px;
	float:right;
	position: relative;
	overflow: hidden;
	 }
	 .nav li {
	 	list-style: none;
	display: inline-block;
	color: #fff;
	padding:8px;
	position: relative;
	overflow: hidden;
	 }
	 .nav a {
	border: 1px solid #4299d2;
	text-decoration: none; 
	font-size:16px;
	color: #fff;
	line-height: 15px;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
	background: linear-gradient(180deg, #51b1dc, #2e7ac4);
	 }
	 .nav a span {
	 	border-bottom: 1px solid #9ac1e4;
	 }

/*CONTENT*/
button {
	background-color: #314780;
	width: 48%;
	height: 35px;
	border-radius: 5px;
	border-color: #4c65a5;
	margin-top: 38px;
	cursor: pointer;
}
button strong {
	font-size: 14px;
	color: #fff;
}
button span {
	font-size: 14px;
	color: #fff;
}
.form button p {
	margin: 0;
	font-size: 14px;
}  

.box {
	width:650px;
	height: 640px;
	background-color: rgba(16, 16, 16, 0.67);
	margin: 213px auto 200px; 
	text-align: center;
}
h1 {
 border-bottom: 2px solid white;
 padding: 15px;
 font-family: "helvetica_neueregular";
 font-size: 24px;
 color: #fff;
 }
.ou span {
text-align: center;
display: block;
color: #999999;
background-image: url(img/line.png);
background-repeat: no-repeat;
background-position: 50% 50%;
font-size: 14px;
padding-top: 32px;
padding-bottom: 28px;
}

 .box input[type="text"], .box input[type="text"], .box input[type="email"], .box input[type="password"], .box input[type="password"]{
	padding: 13px 150px 13px 20px;
	background: #101010;
	color:#fff;
	cursor: pointer;
	border:0;
	width: 136px;
	border-bottom: 1px solid #484947;
	margin-top: 17px;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}
.button {
	padding:10px 0 10px 0;
	background: #31447e;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	width: 50%;
	border-radius: 5px;
	margin: 0 auto;
	display: inline;
}
.button p {
	font-size: 14px;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}
.fa-facebook {
	color:#fff;
	padding-left: 10px;
	font-size: 26px;
	border-right: 1px solid #203c6e;
	float: left;
}

.fa-chevron-right {
	color: #fff;
	float:right;
	padding-top: 5px;
}
.fa-flag li {
	margin: auto;
}
.box input[type="submit"]{
	width: 150px;
	padding: 15px;
	background: #3281c7;
	color: #fff;
	border:0;
	cursor: pointer;
	font-size: 14px;
	padding:10px;
}
.wrapper {
  margin: 3px auto 10px;
  color: #ccc;
}
p {
	color: #fff;
	font-family: "helvetica_neueregular",Arial;
	font-size: 11px;
	margin-top: 15px;
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="password"]:hover, input[type="password"]:focus,
input[type="email"]:hover, input[type="email"]:focus {
background: url('../img/input_bg_hover.jpg') repeat-x #1b5287;
-webkit-box-shadow: 0px 0px 12px 0px rgba(108,158,208,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(108,158,208,1);
box-shadow: 0px 0px 12px 0px rgba(108,158,208,1);
}

